body{
    background-color: darkslategray;       
 }
.cercle {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#id1 {
    background-color: yellow;
}
#gre {
    background-color: rgb(119, 230, 8);
}